/*Header*/
button{
    transition: all 0.6s ease-out;
}

header.sn-header-style-1 .header-bottom .main-nav > .nav > li {
    padding: 10px 0 ;
}

.header-right .header-right-box {
    width: 350px;
}

.header-customize-item {
    padding: 20px 0;
}

.header-logo {
    padding: 8px 0;
}

.header-top-search textarea:focus, input:focus{
    outline: none;
}
.main-nav > .nav > li > .sub-menu{
    width: 60%;
    margin: 0 auto;
}

.main-nav > .nav > li > .sub-menu{
    -webkit-transform: none;
    transform: none;
}

.yolo-canvas-menu-wrapper .title-header{
    text-align: center;
    text-transform: uppercase;
    color: #ffdc73;
}
.yolo-canvas-menu-wrapper .title-header .fa-cart-plus{
    padding: 0 5px;
}

.yolo-canvas-menu-inner .widget .product-item-photo {
    padding: 5px;
}

.yolo-canvas-menu-inner .widget .product-item-photo img{
    /*border: 2px solid #ffdc73;*/
}
.yolo-canvas-menu-wrapper .yolo-canvas-menu-close{
    padding: 0;
}
.yolo-canvas-menu-wrapper{
    color: #ffffff;
    overflow-y: scroll;
}
.yolo-canvas-menu-wrapper .yolo-canvas-menu-inner .widget .subtotal .price{
    font-weight: 700;
    text-align: center;
    margin: 15px 0;
}
.yolo-canvas-menu-wrapper .yolo-canvas-menu-inner .widget .product-item-name{
    color: #ffffff;
}
.yolo-canvas-menu-wrapper .yolo-canvas-menu-inner .widget .product-item-name:hover{
    color: #56cfe1;
}
.yolo-canvas-menu-wrapper .product-cart{
    margin-bottom: 55px;
}

.yolo-canvas-menu-wrapper .product-cart .btn-cart{
    width: 100%;
    background-color: #ffdc73;
    padding: 8px 10px;
    margin: 10px 0;
    display: block;
    cursor: pointer;
    color: #333;
    text-align: center;
    font-weight: 700;
}
.yolo-canvas-menu-wrapper .product-cart .btn-checkout{
    width: 100%;
    background-color: #56cfe1;
    padding: 8px 10px;
    margin: 10px 0;
    display: block;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
}

/*Loader*/

#preloaderKDZ{
    background: #ffffff url("../images/load/cube.svg") center no-repeat;
}

/*Breadcrumb*/
.breadcrumb{
    background-color: #ffffff;
}

.breadcrumb-wrapper{
    margin-top: 50px;
}

/*Shop page*/
.sidebar-product{
    margin-top: 0;
}
body .sn-site .products-in-category-tabs-wrapper > .row > .col-md-3 {
     margin-top: 0;
}

/*Pagination*/
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/*Add to cart button*/

.woocommerce .product-actions, .single-product .product-actions{
    background-color: rgba(0,0,0,0.1);
}

.woocommerce .product-actions .product-quick-view, .single-product .product-actions .product-quick-view{
    color: #ffdc73;
}
.woocommerce .product-actions .add-to-cart {
    font-size: 13px;
    background-color: #ffffff;
    border:none;
    color: #333;
    text-transform: uppercase;
    padding: 10px 25px ;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    font-weight: 700;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.6s ease-out;

}
.woocommerce .product-actions button.add-to-cart:hover {
    background-color: #3f3f3f;
    border: none;
    color: #ffffff;
}

.woocommerce .product-info h3, .single-product .product-info h3{
    font-weight: 500;
    color: #3f3f3f;
}
.woocommerce .product-info h3:hover, .single-product .product-info h3:hover{
    color: #56cfe1;
}

.woocommerce .product-info span.price, .single-product .product-info span.price{
    color: #da2f10;
}
.single-product .summary-product .rate-price p.price{
    color: #da2f10;
}
.product-action{
    margin: 5px;
}

.product-action .btn-border{
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #333;
    padding: 6px 10px;
    /*border-radius: 40px;*/
    border: 2px solid #3f3f3f;
    /*-webkit-border-radius: 40px;*/
    font-weight: 700;
    display: block;
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.6s ease-out;
}

.product-action .btn-border:hover{
    background-color: #3f3f3f;
    border: 2px solid #3f3f3f;
    color: #fff;
}

.product-action .btn-full-width{
    text-align: center;
    font-size: 13px;
    background-color: #56cfe1;
    color: #fff;
    text-transform: uppercase;
    padding: 6px 25px ;
    /*border-radius: 40px;*/
    border: 2px solid #56cfe1;
    /*-webkit-border-radius: 40px;*/
    font-weight: 700;
    width: 100%;
    display: block;
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.6s ease-out;
}
.product-action .btn-full-width:hover{
    color: #fff;
    border: 2px solid #3f3f3f;
    background-color: #3f3f3f;
}

.product-action .btn-black{

}

.product-actions .add-to-cart-wrapper {
    padding: 15px;
}

.product-grid .products-in-category-tabs-wrapper .products-content .woocommerce .product-item-wrap .product-item-inner .product-link::before {
    background-color: rgba(86,207,225,0.07);
}
.products-in-category-tabs-wrapper .products-content .woocommerce .product-item-wrap {
    padding: 10px;
}
.products-in-category-tabs-wrapper .products-content .woocommerce .product-item-wrap {
    border: none;
}
/*category page*/
/*.products-in-category-tabs-wrapper .products-content .product-listing.columns-3 .product-item-wrap {*/
    /*width: 31.3%;*/
    /*margin: 1%;*/
/*}*/
/*Cart page*/

.cart .cart-form {
    margin: 0;
}

.cart-remove{
    background-color: transparent;
    border: none;
    font-size:20px;
}
.cart .cart-form{
    border: 1px solid #eee;
}
.cart .cart-form th{
    background-color: #ffffff;
    color: #333 ;
}
.cart .cart-form td{
    padding:20px 10px;
}
.cart .cart-form .quantity{
    width: 50px;
    padding: 5px;
}
.cart .cart-form .button-cart .coupon, .cart .cart-form .button-cart .process{
    background-color: #56cfe1;
}
.cart .cart-form .button-cart .coupon, .cart .cart-form .button-cart .process:hover{
    background-color: #56cfe1 !important;
}
.cart .cart-form .button-cart .update-cart:hover{
    background-color: #3f3f3f !important;
}

.shop-checkout #place_order{
    background-color: #1979c3;
    padding:10px 20px;
    width:100%;
}


/*product-page*/

.single-product .summary-product .cart button{
    background-color: #56cfe1;
}

.single-product .summary-product .cart button:hover{
    background-color: #3f3f3f;
}

.breadcrumb>li>a:hover{
    color: #56cfe1;
}
.breadcrumb>li>a{
    color: #333;
}


@media (max-width: 767px){
    body .woocommerce .product-actions > div {
        width: 100%;
    }
}

@media (max-width: 480px){
    body .header .header-bottom .header-right {
        display: block !important;
    }
}
