
header.sn-header-style-1 .header-bottom .main-nav > .nav > li {
    padding: 10px 0 ;
}

.header-right .header-right-box {
    width: 350px;
}

.header-customize-item {
    padding: 20px 0;
}

.header-logo {
    padding: 8px 0;
}

.header-top-search textarea:focus, input:focus{
    outline: none;
}

/*.search-container{*/
    /*float: left;*/
/*}*/
/*.header-right .header-customize-right > .shopping-cart-wrapper{*/
    /*float: right;*/
/*}*/